saves/
shaderpacks/
resourcepacks/
logs/
local/
crash-reports/
options.txt
servers.dat
patchouli_data.json
usercache.json
usernamecache.json
.curseclient
config/powah.json5
config/bettervillage.properties
config/craftpresence.properties
config/durabilitytooltip-common.toml
config/oculus.properties
config/libraryferret.properties
config/sound_physics_remastered
config/create-client.toml
config/custommachinery.toml
config/droplight-common.toml
config/enchdesc.json
config/framedblocks-client.toml
config/grapplemod.toml
config/immersive_armors.json
config/improvedmobs/equipment.json
config/inventoryhud-client.toml
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/jerintegration-client.toml
config/libraryferret_1.properties
config/oculus.properties
config/pmmo-client.toml
config/pneumaticcraft/ArmorFeatureStatus.cfg
config/pneumaticcraft/ProgrammingPuzzleBlacklist.cfg
config/pneumaticcraft/thirdparty.cfg
config/powah.json5
config/rubidium-options.json
config/sidebar_buttons.json
config/smoothboot.json
config/solarflux/recipes.hlc
config/sophisticatedbackpacks-common.toml
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/sound_physics_remastered/soundphysics.properties
config/voicechat-client.toml
config/voicechat/username-cache.json
config/InventoryHUD/curios.json
config/ambientsounds-client.json
config/apotheosis/names.cfg
config/appliedenergistics2/client.json
config/appliedenergistics2/common.json
config/armorpointspp-client.toml
config/ars_nouveau/light.toml
config/ars_nouveau/projectile.toml
config/attributefix.json
config/axesareweapons.json5
config/bettercombat/client.json5
config/bettercombat/fallback_compatibility.json
config/bettercombat/server.json5
config/bettervillage_1.properties
config/byg/backups/last_working_configs_backup.zip
config/byg/end-biomes.json5
config/byg/nether-biomes.json5
config/craftpresence.json 
config/create-client.toml 
config/betterleveling-client.toml
config/questsadditions-client.toml
config/spark/
config/voicechat/
config/valkyrienskies/
config/cucumber-tags.json
config/silentgear-common-2.toml.bak
config/silentgear-common-3.toml.bak
config/silentgear-common-4.toml.bak
config/ftbic-common.snbt
config/railways-client.toml
config/railways-common.tml
mods/.index/
